html{
    min-height: 100%;
}

body {  
    min-height:100%;
    background-color: rgb(244, 244, 244);
    }

#logostex {
    position: absolute;
    margin: 1rem;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;;
    display: flex;
    font-weight: 500;
    border: 17px solid rgb(255, 235, 0);
    border-radius: 3px;
    }

.image {
    display: flex;
    min-height: 400px;
    text-align: center;
}

#container {
    display: block;
}

.model{
    width: 49%;
    display: inline-block;
}
/*
h2{
    text-align: center;
}